@model Leave_Management.Models.ViewLeaveAllocationVM

@{
    ViewData["Title"] = "Details";
}

<div class="container">
    <h1 class="text-center display-6">Details For @Model.Employee.Firstname @Model.Employee.Lastname</h1>
    <hr />
    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <tbody>
                <tr>
                    <th class="text-center">Username:</th>
                    <td>@Html.DisplayFor(model => model.Employee.UserName)</td>
                </tr>
                <tr>
                    <th class="text-center">Email:</th>
                    <td>@Html.DisplayFor(model => model.Employee.Email)</td>
                </tr>
                <tr>
                    <th class="text-center">First Name:</th>
                    <td>@Html.DisplayFor(model => model.Employee.Firstname)</td>
                </tr>
                <tr>
                    <th class="text-center">Last Name:</th>
                    <td>@Html.DisplayFor(model => model.Employee.Lastname)</td>
                </tr>
             
               
            </tbody>
        </table>
    </div>
</div>

<hr />

@if (Model.LeaveAllocationVms.Any())
{
    <h2 class="text-center display-6">Leave Allocations</h2>
    <div class="table-responsive container text-center">
        <table class="table">
            <thead>
                <tr>
                    <th>Leave Type</th>
                    <th>Number of Days</th>
                    <th>Edit</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.LeaveAllocationVms)
                {
                    <tr>
                        <td>@item.LeaveType.Name</td>
                        <td><span class="badge badge-secondary">@item.NumberOfDays</span></td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-primary"><i class="fas fa-edit"></i> Edit</a>
                        </td>
                    </tr>
                }
            </tbody>

        </table>
            <a class="btn btn-outline-secondary" asp-action="ListEmployee">Back to List</a>
    </div>
}




