
@model List<EmployeeVm>

@{
    ViewData["Title"] = "Assign Role";
}

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["SuccessMessage"]
    </div>
}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h1 class="text-center">Assign Role</h1>
            <form asp-controller="LeaveAllocations" asp-action="EmployeeRoles" method="post">
                <div class="form-group">
                    <label for="employeeId">Select Employee:</label>
                    <select class="form-control " id="employeeId" name="employeeId">
                        <option value="Please Select a user.">Please select a user.</option>
                        @foreach (var employee in Model)
                        {
                            <option value="@employee.Id">@employee.Firstname @employee.Lastname</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label for="role">Select Role:</label>
                    <select class="form-control " id="role" name="role">
                        <!-- Roles will be populated dynamically -->
                    </select>
                </div>
                <button type="submit" class="btn btn-primary btn-block">Assign Role</button>
            </form>
        </div>
    </div>
</div>


@* 
// If you want to make it a table use this code    
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1 class="text-center">Assign Role</h1>
            <form asp-controller="LeaveAllocations" asp-action="EmployeeRoles" method="post">
                <table class="table table-bordered">
                    <tr>
                        <th>Select Employee</th>
                        <td>
                            <select class="form-control form-control-sm" id="employeeId" name="employeeId">
                                @foreach (var employee in Model)
                                {
                                    <option value="@employee.Id">@employee.Firstname @employee.Lastname</option>
                                }
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th>Select Role</th>
                        <td>
                            <select class="form-control form-control-sm" id="role" name="role">
                                <!-- Roles will be populated dynamically -->
                            </select>
                        </td>
                    </tr>
                </table>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary btn-sm">Assign Role</button>
                </div>
            </form>
        </div>
    </div>
</div>
 *@


@section Scripts {
    <script src="~/js/LeaveAllocation.js"></script>
    <script>
        $(document).ready(function () {
            // AJAX call to fetch roles dynamically
            $.ajax({
                url: "/LeaveAllocations/GetAllRoles",
                type: 'GET',
                success: function (data) {
                    // Populate roles dropdown
                    $.each(data, function (index, item) {
                        $('#role').append('<option value="' + item + '">' + item + '</option>');
                    });
                }
            });
        });
    </script>
}
